.custom-button {
	height: 100%;
	border-radius: 2px;
	border: solid 2px rgb(33, 101, 79);
	/* padding: 0.3rem 1rem 0.3rem 1rem; */
	transition: all 150ms;
}
.custom-button > a {
	text-align: center;
	display: block;
	padding: 0.3rem 1rem 0.3rem 1rem;
	width: 100%;
	height: 100%;
}

.custom-button > a {
	transition: all 150ms;
}
.custom-button:hover {
	background-color: rgb(33, 101, 79);
}
.custom-button:hover > a {
	color: white;
}
